<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>a.keys.wolfined.com</string>
	<string>a.sks.srv.scientia.net</string>
	<string>agora.cenditel.gob.ve</string>
	<string>ams.sks.heypete.com</string>
	<string>blablanet.info</string>
	<string>cewr.info</string>
	<string>cheipublice.md</string>
	<string>cheipublice.ro</string>
	<string>conflux.pgp.intern.ccs-baumann.de</string>
	<string>disunitedstates.com</string>
	<string>fks.pgpkeys.eu</string>
	<string>gpg.directory</string>
	<string>gpg.n1zyy.com</string>
	<string>gpg.planetcyborg.de</string>
	<string>healthcheck-lb1.mj2.uk</string>
	<string>hockey.ecrypted.ml</string>
	<string>ice.mudshark.org</string>
	<string>key.adeti.org</string>
	<string>key.bbs4.us</string>
	<string>key.blackbearinfosec.com</string>
	<string>key.cccmz.de</string>
	<string>key.ip6.li</string>
	<string>key1.dock23.de</string>
	<string>key2.dock23.de</string>
	<string>keys-01.licoho.de</string>
	<string>keys-02.licoho.de</string>
	<string>keys.andreas-puls.de</string>
	<string>keys.bonus-communis.eu</string>
	<string>keys.communityrack.org</string>
	<string>keys.connectical.com</string>
	<string>keys.digitalis.org</string>
	<string>keys.drup.no</string>
	<string>keys.exosphere.de</string>
	<string>keys.fspproductions.biz</string>
	<string>keys.gnupg.net</string>
	<string>keys.i2p-projekt.de</string>
	<string>keys.indymedia.org</string>
	<string>keys.internet-sicherheit.de</string>
	<string>keys.jhcloos.com</string>
	<string>keys.jpbe.de</string>
	<string>keys.mainframe.cx</string>
	<string>keys.mental.cash</string>
	<string>keys.nerds.lu</string>
	<string>keys.niif.hu</string>
	<string>keys.ppcis.net</string>
	<string>keys.riverwillow.net.au</string>
	<string>keys.s-l-c.biz</string>
	<string>keys.sbell.io</string>
	<string>keys.schluesselbruecke.de</string>
	<string>keys.sflc.info</string>
	<string>keys.stueve.us</string>
	<string>keys.techwolf12.nl</string>
	<string>keys.thoma.cc</string>
	<string>keys.void.gr</string>
	<string>keys2.flanga.io</string>
	<string>keys2.kfwebs.net</string>
	<string>keyserv.sr32.net</string>
	<string>keyserver-01.2ndquadrant.com</string>
	<string>keyserver-02.2ndquadrant.com</string>
	<string>keyserver-03.2ndquadrant.com</string>
	<string>keyserver.adamas.ai</string>
	<string>keyserver.aktronic.de</string>
	<string>keyserver.arihanc.com</string>
	<string>keyserver.bau5net.com</string>
	<string>keyserver.bazon.ru</string>
	<string>keyserver.blazrsoft.com</string>
	<string>keyserver.blupill.com</string>
	<string>keyserver.bonus-communis-bibliotheca.eu</string>
	<string>keyserver.boquet.org</string>
	<string>keyserver.borgnet.us</string>
	<string>keyserver.brian.minton.name</string>
	<string>keyserver.cdresel.de</string>
	<string>keyserver.cloudcauldron.io</string>
	<string>keyserver.cns.vt.edu</string>
	<string>keyserver.codinginfinity.com</string>
	<string>keyserver.compbiol.bio.tu-darmstadt.de</string>
	<string>keyserver.dacr.hu</string>
	<string>keyserver.dobrev.eu</string>
	<string>keyserver.durcheinandertal.ch</string>
	<string>keyserver.ecrypted.ml</string>
	<string>keyserver.escomposlinux.org</string>
	<string>keyserver.gingerbear.net</string>
	<string>keyserver.insect.com</string>
	<string>keyserver.iseclib.ru</string>
	<string>keyserver.ispfontela.es</string>
	<string>keyserver.kim-minh.com</string>
	<string>keyserver.kjsl.com</string>
	<string>keyserver.kjsl.org</string>
	<string>keyserver.kolosowscy.pl</string>
	<string>keyserver.layer42.net</string>
	<string>keyserver.leg.uct.ac.za</string>
	<string>keyserver.linuxpro.nl</string>
	<string>keyserver.lohn24-datenschutz.de</string>
	<string>keyserver.matteoswelt.de</string>
	<string>keyserver.mattrude.com</string>
	<string>keyserver.mesh.deuxpi.ca</string>
	<string>keyserver.mik-net.de</string>
	<string>keyserver.miniskipper.at</string>
	<string>keyserver.mobexpert.ro</string>
	<string>keyserver.mpi-bremen.de</string>
	<string>keyserver.nausch.org</string>
	<string>keyserver.oeg.com.au</string>
	<string>keyserver.opensuse.org</string>
	<string>keyserver.paulfurley.com</string>
	<string>keyserver.pch.net</string>
	<string>keyserver.saol.no-ip.com</string>
	<string>keyserver.secretresearchfacility.com</string>
	<string>keyserver.serviz.fr</string>
	<string>keyserver.siccegge.de</string>
	<string>keyserver.sincer.us</string>
	<string>keyserver.skoopsmedia.net</string>
	<string>keyserver.snt.utwente.nl</string>
	<string>keyserver.stack.nl</string>
	<string>keyserver.swabian.net</string>
	<string>keyserver.syseleven.de</string>
	<string>keyserver.taygeta.com</string>
	<string>keyserver.timlukas.de</string>
	<string>keyserver.ubuntu.com</string>
	<string>keyserver.undergrid.net</string>
	<string>keyserver.ut.mephi.ru</string>
	<string>keyserver.vanbaak.eu</string>
	<string>keyserver.vbrandl.net</string>
	<string>keyserver.vi-di.fr</string>
	<string>keyserver.waffle.sexy</string>
	<string>keyserver.zap.org.au</string>
	<string>keyserver1.canonical.com</string>
	<string>keyserver1.computer42.org</string>
	<string>keyserver2.boquet.org</string>
	<string>keyserver2.canonical.com</string>
	<string>keyserver2.computer42.org</string>
	<string>kr-sks.salac.me</string>
	<string>node3.sks.mj2.uk</string>
	<string>node4.sks.mj2.uk</string>
	<string>openpgp-keyserver.eu</string>
	<string>openpgp1.claruscomms.net</string>
	<string>pgp-srv.deib.polimi.it</string>
	<string>pgp.archreactor.org</string>
	<string>pgp.benny-baumann.de</string>
	<string>pgp.boomer41.net</string>
	<string>pgp.cert.am</string>
	<string>pgp.circl.lu</string>
	<string>pgp.cyberbits.eu</string>
	<string>pgp.ext.selfnet.de</string>
	<string>pgp.gwolf.org</string>
	<string>pgp.jjim.de</string>
	<string>pgp.key-server.io</string>
	<string>pgp.lehigh.edu</string>
	<string>pgp.librelabucm.org</string>
	<string>pgp.megagod.net</string>
	<string>pgp.mit.edu</string>
	<string>pgp.net.nz</string>
	<string>pgp.ocf.berkeley.edu</string>
	<string>pgp.ohai.su</string>
	<string>pgp.philihp.com</string>
	<string>pgp.pm</string>
	<string>pgp.rediris.es</string>
	<string>pgp.rouing.me</string>
	<string>pgp.skewed.de</string>
	<string>pgp.surf.nl</string>
	<string>pgp.uni-mainz.de</string>
	<string>pgp.unix.lu</string>
	<string>pgp.uplinklabs.net</string>
	<string>pgp.ustc.edu.cn</string>
	<string>pgp.zdv.uni-mainz.de</string>
	<string>pgpkeys.ch</string>
	<string>pgpkeys.co.uk</string>
	<string>pgpkeys.eu</string>
	<string>pgpkeys.hu</string>
	<string>pgpkeys.uk</string>
	<string>pgpkeys.urown.net</string>
	<string>pgpkeyserver.posteo.de</string>
	<string>ranger.ky9k.org</string>
	<string>schluesselkasten.wertarbyte.de</string>
	<string>sks-cdg.semperen.com</string>
	<string>sks-dub.semperen.com</string>
	<string>sks-fra.semperen.com</string>
	<string>sks-lhr.semperen.com</string>
	<string>sks-peer.spodhuis.org</string>
	<string>sks-private-cache.expirybot.com</string>
	<string>sks-server.randala.com</string>
	<string>sks.alpha-labs.net</string>
	<string>sks.b4ckbone.de</string>
	<string>sks.bonus-communis.eu</string>
	<string>sks.bootc.eu</string>
	<string>sks.capalino.de</string>
	<string>sks.cloud.icij.org</string>
	<string>sks.daylightpirates.org</string>
	<string>sks.e-utp.net</string>
	<string>sks.ecks.ca</string>
	<string>sks.eq.by</string>
	<string>sks.es.net</string>
	<string>sks.fidocon.de</string>
	<string>sks.funkymonkey.org</string>
	<string>sks.heikorichter.name</string>
	<string>sks.hnet.se</string>
	<string>sks.icij.org</string>
	<string>sks.infcs.de</string>
	<string>sks.keyservers.net</string>
	<string>sks.kserver.eu</string>
	<string>sks.mbk-lab.ru</string>
	<string>sks.mirror.square-r00t.net</string>
	<string>sks.mj2.uk</string>
	<string>sks.mrball.net</string>
	<string>sks.neel.ch</string>
	<string>sks.nimblesec.com</string>
	<string>sks.okoyono.de</string>
	<string>sks.openpgp-keyserver.de</string>
	<string>sks.parafoil.net</string>
	<string>sks.pkqs.net</string>
	<string>sks.pod01.fleetstreetops.com</string>
	<string>sks.pod02.fleetstreetops.com</string>
	<string>sks.pod03.togsvcs.com</string>
	<string>sks.rainydayz.org</string>
	<string>sks.research.nxfifteen.me.uk</string>
	<string>sks.srv.dumain.com</string>
	<string>sks.stsisp.ro</string>
	<string>sks.theblains.org</string>
	<string>sks.undergrid.net</string>
	<string>sks01.nyc2.newconews.org</string>
	<string>sks1.cryptokeys.org.za</string>
	<string>sks1.home-v.ind.in</string>
	<string>sks1.inx.net.za</string>
	<string>sks2.cryptokeys.org.za</string>
	<string>sks2.home-v.ind.in</string>
	<string>sks2.inx.net.za</string>
	<string>sks3.inx.net.za</string>
	<string>skspub.ward.ie</string>
	<string>vanunu.calyxinstitute.org</string>
	<string>vm-keyserver.spline.inf.fu-berlin.de</string>
	<string>whippet.andrewg.com</string>
	<string>zimmermann.mayfirst.org</string>
	<string>pgp.surfnet.nl</string>
</array>
</plist>
