# Xcode
build/
build.log
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
.DS_Store
Dependencies/GPGTools_Core
Dependencies/Libmacgpg
MLHeaders
*xcuserdata/
Dependencies/GPGTools_Core
Dependencies/Libmacgpg
Dependencies/DeployResources
